/******************************************************************
Site Name: Abstract Cherry
Author: Christopher Bajgier (chris.bajgier@gmail.com, http://chris.bajgier.net)

******************************************************************/
/* Main theme color: Cherry */
#inner-header {
  background-color: #df421e; }

a {
  color: #df421e;
  text-decoration: none; }

a img {
  border: none; }

a:visited {
  color: #91240a; }

a:hover {
  color: #ef7254;
  text-decoration: underline; }

acronym, abbr {
  border-bottom: none; }

acronym, abbr, span.caps {
  cursor: help;
  font-size: 90%;
  letter-spacing: .07em; }

blockquote {
  border-left: 10px solid #e8e8e8;
  margin-left: 1.5em;
  padding-left: 15px; }

body {
  font-family: "Trebuchet MS", Verdana, Futura, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0 20px 0 20px;
  background-color: gray;
  color: #000;
  font-size: 14px; }

cite {
  font-size: 90%;
  font-style: normal; }

h2 {
  font-size: 100%;
  font-weight: bolder;
  letter-spacing: -0.025em;
  margin: 15px 0 2px 0;
  padding-bottom: 2px;
  text-align: left; }

#content h2 {
  text-align: right;
  color: gray;
  font-size: 150%; }

h3 {
  margin-top: 0;
  color: #df421e;
  padding: 3px 3px 0px 3px; }

ol#comments li p {
  font-size: 100%; }

p, li, .feedback {
  font-size: 80%/150%; }

.storycontent ul {
  list-style-type: square; }

#credit {
  background-color: #df421e;
  color: white;
  font-size: 90%;
  padding: 20px 10px 10px 20px;
  border-left: 10px solid black;
  float: right;
  width: 320px;
  clear: right;
  margin-top: 0px;
  text-align: right;
  display: block; }

html > body #credit {
  margin-right: 0px;
  width: 320px; }

#credit a, #credit a:link, #credit a:hover {
  color: #fff; }

.feedback {
  color: #ccc;
  text-align: right;
  padding: 3px; }

.byline {
  font-size: 90%;
  text-align: right;
  background-color: #e8e8e8;
  color: gray;
  font-weight: normal;
  letter-spacing: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 10px;
  border-left: 10px solid black; }
  .byline a {
    color: gray;
    font-weight: normal;
    letter-spacing: 0; }
  .byline ul {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none; }
  .byline li {
    display: inline; }

.storytitle {
  padding: 10px;
  border-left: 10px solid black;
  margin-bottom: 0px;
  background-color: #efefef; }
  .storytitle a {
    text-decoration: none; }

.storycontent {
  margin-bottom: 0px; }

#commentlist {
  font-size: 100%; }

#commentlist p {
  font-size: 100%; }

.post-categories {
  font-size: 130%; }

#commentform #commentform input, #commentform #commentform textarea {
  background: white;
  border: 1px solid silver; }
#commentform #commentform textarea {
  width: 100%; }

#content {
  padding: 10px 20px 10px 20px;
  background-color: white;
  clear: none;
  margin-right: 360px; }

.post {
  margin-top: 10px;
  text-align: justify; }

#inner-header {
  background-color: #df421e;
  height: 100px;
  color: white;
  float: right;
  border-left: 10px solid black;
  text-align: right;
  line-height: 50px;
  font-size: 150%;
  font-weight: bolder;
  padding: 20px 20px 10px 20px;
  width: 310px;
  margin: 0px;
  display: block; }
  #inner-header a {
    color: white;
    text-decoration: none; }
  #inner-header a:hover {
    text-decoration: underline; }

#sidebar-main {
  background: #e8e8e8;
  border-left: 10px solid silver;
  padding: 20px 10px 10px 20px;
  float: right;
  width: 320px;
  clear: right;
  margin-top: 0px; }
  #sidebar-main form {
    margin: 0 0 0 13px; }
  #sidebar-main input {
    background: white;
    border: 1px solid silver;
    margin: 1px;
    letter-spacing: -0.05em;
    width: 80%; }
  #sidebar-main ul {
    color: #df421e;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding-left: 3px;
    text-transform: none; }
  #sidebar-main ul li {
    font-size: 100%;
    margin-top: 10px;
    padding-bottom: 2px;
    /*border-bottom: dotted 1px #ccc;*/
    font-weight: bolder;
    list-style-type: none; }
  #sidebar-main ul ul {
    list-style-type: none;
    font-variant: normal;
    font-weight: normal;
    line-height: 100%;
    margin: 0;
    padding: 0;
    text-align: left; }
  #sidebar-main ul ul li {
    border: 0;
    font-size: 70%/100%;
    letter-spacing: 0;
    margin-top: 0;
    padding: 0;
    padding-left: 12px; }
  #sidebar-main ul ul li a {
    color: gray;
    text-decoration: none; }
  #sidebar-main ul ul li a:hover {
    border-bottom: 2px solid #df421e; }

html > body #sidebar-main {
  margin-right: 0px;
  width: 320px; }
