/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

/* Main theme color: Cherry */
$primary-main: #DF421E;
$primary-lighter: #EF7254;
$primary-lightest: #EF937D;
$primary-darker: #A74F3B;
$primary-darkest: #91240A;

#inner-header {
background-color: $primary-main;
}

a {
	color: $primary-main;
	text-decoration: none;
}

a img {
	border: none;
}

a:visited {
	color: $primary-darkest;
}

a:hover {
	color: $primary-lighter;
	text-decoration: underline;
}

acronym, abbr {
	border-bottom: none;
}

acronym, abbr, span.caps {
	cursor: help;
	font-size: 90%;
	letter-spacing: .07em;
}

blockquote {
	border-left: 10px solid #e8e8e8;
	margin-left: 1.5em;
	padding-left: 15px;
}

body {
	font-family: 'Droid Sans', 'Trebuchet MS', Verdana, Futura, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0 20px 0 20px;
	background-color: gray;
	color: #000;
	font-size: medium;
}

cite {
	font-size: 90%;
	font-style: normal;
}

h2 {
	font-size: 100%;
	font-weight: bolder;
	letter-spacing: -0.025em;
	margin: 15px 0 2px 0;
	padding-bottom: 2px;
	text-align: left;
}

#content h2 {
	text-align: right;
	color: gray;
	font-size: 150%;
}

h3 {
	
	margin-top: 0;
	color: $primary-main;
	padding: 3px 3px 0px 3px;
}

ol#comments li p {
	font-size: 100%;
}

p, li, .feedback {
	font-size: 80%/150%;
}

.storycontent ul {
	list-style-type: square;
}

#footer {
	background-color: $primary-main;
	color: white;
	font-size: 90%;
	padding: 20px 10px 10px 20px;
	border-left: 10px solid black;
	float: right;
	width: 320px;
	clear: right;
	margin-top: 0px;
	text-align: right;
	display: block;
    
    a, a:link, a:hover {
        color: #fff;
    }

}

html>body #footer {
	margin-right: 0px;
	width: 320px;
}

.feedback {
	color: #ccc;
	text-align: right;
	padding: 3px;
}

.byline {
	font-size: 90%;
	text-align: right;
	background-color: #e8e8e8;
	color: gray;
	font-weight: normal;
	letter-spacing: 0;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	border-left: 10px solid black;

    a {
        color: gray;
	   font-weight: normal;
	   letter-spacing: 0;
    }
    ul {
        display: inline;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    li {
        display: inline;
    }

}

.entry-title {
	padding: 10px;
	border-left: 10px solid black;
	margin-bottom: 0px;
	background-color: #efefef;
	
    a {
        text-decoration: none;
    }

}

.storycontent {
	margin-bottom: 0px;

}

#commentlist {
	font-size: 100%;
}

#commentlist p {
font-size: 100%;
}

.post-categories {
	font-size: 130%;
}

#commentform {

    #commentform input, #commentform textarea {
        background: white;
        border: 1px solid silver;
    }
    
    #commentform textarea {
        width: 100%;
    }

}


#content {
	padding: 10px 20px 10px 20px;
	background-color: white;
	clear: none;
	margin-right: 360px;
}

.post { 
	margin-top: 10px; 
	text-align: justify;
}

#inner-header {
	background-color: $primary-main;
	height: 100px;
	color: white;
	float: right;
	border-left: 10px solid black;
	text-align: right;
	line-height: 50px;
	font-size: 150%;
	font-weight: bolder;
	padding: 20px 20px 10px 20px;
	width: 310px;
	margin: 0px;
	display: block;
    
    a {
	   color: white;
	   text-decoration: none;
    }

    a:hover {
	   text-decoration: underline;
    }


}

#sidebar-main {
	background: #e8e8e8;
	border-left: 10px solid silver; 
	padding: 20px 10px 10px 20px;
	float: right;
	width: 320px;
	clear: right;
	margin-top: 0px;
    
    form {
	   margin: 0 0 0 13px;
    }

    input {
        background: white;
        border: 1px solid silver;
        margin: 1px;
        letter-spacing: -0.05em;
        width: 80%;
    }

    ul {
	   color: $primary-main;
        font-weight: bold;
        list-style-type: none;
        margin: 0;
        padding-left: 3px;
        text-transform: none;
    }

    ul li {
        font-size: 100%;
        margin-top: 10px;
        padding-bottom: 2px; /*border-bottom: dotted 1px #ccc;*/
        font-weight: bolder;
        list-style-type: none;
    }

    ul ul {
        list-style-type: none;
        font-variant: normal;
        font-weight: normal;
        line-height: 100%;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    ul ul li {
        border: 0;
        font-size: 70%/100%;
        letter-spacing: 0;
        margin-top: 0;
        padding: 0;
        padding-left: 12px;
    }

    ul ul li a {
        color: gray;
        text-decoration: none;
    }

    ul ul li a:hover {
        border-bottom: 2px solid $primary-main;
    }

}

html>body #sidebar-main {
	margin-right: 0px;
	width: 320px;
}
